* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
}

ul {
  list-style: none;
}

header {
  background-color: var(--purple-bg);
  padding: 64px 135px 64px 135px;
}

header .wrapper {
  max-width: 1160px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  gap: 32px;
}

header nav ul a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
  position: relative;
}

header nav ul a::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: -3px;
  height: 0px;
  width: 2px;
  background: var(--green);
  transition: 0.3s;
}

header nav ul a:hover::after {
  height: 100%;
}

header .search-header {
  display: flex;
}

header .search-header input {
  border: none;
  outline: none;
  background-color: var(--dark-bg);
  border-radius: 4px 0px 0px 4px;
  padding-block: 14px;
  padding-left: 25.6px;
  width: 230px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--light-purple);
}

header .search-header input::placeholder {
  color: var(--light-purple);
}

header .search-header button {
  border: none;
  background-color: var(--button-bg);
  border-radius: 0px 4px 4px 0px;
  padding-inline: 23px;
}

header .search-header button:hover {
  cursor: pointer;
}

main {
  background-color: var(--purple-bg);
  padding-inline: 135px;
  padding-bottom: 64px;
  border-bottom: solid 6px var(--green);
}

main .wrapper {
  max-width: 1160px;
  margin: auto;
  display: grid;
  grid-template: auto/ auto auto;
  justify-content: space-between;
  align-items: center;
}

main .text h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: var(--button-bg);
  max-width: 500px;
}

main .text p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--light-purple);
  max-width: 450px;
  margin-top: 16px;
  margin-bottom: 24px;
}

main .text a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: var(--button-bg);

  display: flex;
  align-items: center;
  gap: 8px;
}

main .img-box img {
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

article .wrapper {
  max-width: 1160px;
  margin: auto;
}

article {
  padding-inline: 135px;
  padding-top: 60px;
  background-color: var(--light-purple);
}

article .content .date {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

article .content .title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  font-variant: var(--purple-bg);
}

article .content .description {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

article #first-section {
  display: grid;
  grid-template: auto/ auto auto;
  justify-content: space-between;
}

article #first-section .left-content {
  max-width: 569px;
}

img {
  width: 100%;
}

article #first-section .left-content .content .date {
  margin-top: 16px;
}

article #first-section .left-content .content .title {
  margin-block: 16px;
}

article #first-section .right-content {
  max-width: 470px;
}

article #first-section .right-content .content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

article #first-section .right-content .line {
  height: 1px;
  background-color: #f2e7fa;
  margin-block: 23.6px;
}

article #second-section {
  margin-top: 64px;
  padding-bottom: 64px;
  display: flex;
  justify-content: space-between;
}

article #second-section .content {
  max-width: 370px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

