@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0d0d0d;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--body-background);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1277px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home-bg {
  padding-top: 5.7rem;
}

header nav ul {
  display: flex;
  gap: 6rem;
}

header nav a {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: var(--text-color);
  position: relative;
}

header nav a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--color-logo);
  transition: 0.3s;
}

header nav a:hover::after {
  width: 100%;
}

header button {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 2.47rem;
  background-color: var(--text-color);
  transition: background 0.4s;
}

header button:hover {
  background-color: var(--color-logo);
  cursor: pointer;
}

header button a {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--black-text);
}

#presentation {
  color: var(--text-color);
  margin-top: 9.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#presentation #presentation-left-container {
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
  justify-content: space-between;
}

#presentation #presentation-left-container p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
  max-width: 40.1rem;
  letter-spacing: 0.1rem;
}

#presentation #presentation-left-container #selected-artists {
  display: flex;
  gap: 6px;
}

#presentation
  #presentation-left-container
  #selected-artists
  #artists-description {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#presentation #presentation-center-container p {
  font-weight: 700;
  font-size: 5rem;
  line-height: 6.1rem;
}

#presentation #presentation-center-container span {
  color: var(--color-logo);
}

#gallery {
  margin-top: 10rem;
  display: grid;
  grid-template: auto auto/auto auto auto auto;
  grid-row-gap: 6rem;
  grid-column-gap: 1.66rem;
}

#gallery img {
  width: 100%;
  border: 1px solid var(--text-color);
}

#home-bg {
  background-image: url('./assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#information {
  color: var(--text-color);
}

.information {
  display: flex;
  position: relative;
}

.information #statistics {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  padding-right: 60px;
  border-right: 1px solid var(--subtitle-color);
}

.information #statistics p {
  font-weight: 600;
  font-size: 5rem;
  line-height: 6.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information #statistics p:first-child {
  margin-top: 13.6rem;
}

.information #statistics p span {
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--subtitle-color);
}

.information #right-container {
  width: 100%;
}

.information #text-container {
  display: flex;
  gap: 126px;
  justify-content: center;
  margin-block: 71px;
}

.information #text-container p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.information #text-container p span {
  color: var(--color-logo);
  text-decoration: underline;
}

.information #text-container a {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-decoration: underline;
  color: var(--text-color);
}

.information #text-container #text {
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 6.3rem;
}

.information #information-img {
  background-image: url(./assets/banner2.png);
  background-size: cover;
  z-index: 1;
  height: 300px;
  width: 100vw;
  position: absolute;
}

#information .border-bottom {
  background-color: var(--subtitle-color);
  height: 1px;
  width: 100%;
  margin-top: 106.72px;
}

.popular {
  color: var(--text-color);
  margin-top: 291px;
}

.popular h3 {
  font-size: 5rem;
  font-weight: 700;
}

.popular h3 span {
  color: var(--color-logo);
}

.popular #astronaut-container {
  display: flex;
  justify-content: space-between;
  margin-top: 158px;
}

.popular #astronaut-container .left-border {
  background-color: var(--subtitle-color);
  width: 1px;
  height: 732px;
}

.popular #astronaut-container .astronaut-container-left,
.astronaut-container-right {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.astronaut-box .astronaut-title,
.astronaut-box .astronaut-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.astronaut-box .astronaut-title p {
  font-weight: 500;
  font-size: 3rem;
}

.astronaut-box .astronaut-name {
  margin-top: 4.4rem;
  margin-bottom: 2.6rem;
}

.astronaut-box .astronaut-name p {
  font-weight: 600;
  font-size: 2rem;
  color: var(--subtitle-color);
}

.astronaut-box .astronaut-name p:nth-child(2) {
  font-weight: 400;
  color: var(--color-logo);
}

.artists {
  color: var(--text-color);
}

.artists h3 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 6.1rem;
  margin-top: 151px;
  margin-bottom: 120px;
  text-align: center;
}

.artists h3 span {
  color: var(--color-logo);
}

.artists #artists-container {
  display: grid;
  grid-template: auto auto/auto auto auto;
  justify-content: space-between;
  grid-row-gap: 111px;
}

#artists-container .artists-box {
  background-color: var(--card-color);
  width: 350px;
  height: 150px;
  display: flex;
  align-items: center;
  gap: 4rem;
  transition: 0.4s;
}

#artists-container .artists-box:hover {
  background-color: var(--color-logo);
  cursor: pointer;
  color: var(--text-color);
}

#artists-container .artists-box img {
  padding-left: 3.2rem;
}

#artists-container .artists-box .artits-text .name {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 0.1rem;
}

#artists-container .artists-box .artits-text .number {
  font-weight: 400;
  font-size: 2rem;
  color: var(--color-logo);
  transition: 0.4s;
}

#artists-container .artists-box:hover .number {
  color: var(--text-color);
}

.artists #all-artists {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  margin-top: 54px;
  margin-bottom: 147px;
}

.artists #all-artists p {
  font-weight: 400;
  font-size: 2rem;
}

footer {
  background-color: var(--card-color);
  color: var(--text-color);
}

footer .footer-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 82px;
  padding-bottom: 60px;
}

footer .footer-title a {
  background-color: var(--color-logo);
  padding: 2.8rem;
}

footer .border-bottom {
  background-color: var(--subtitle-color);
  height: 1px;
  width: 100%;
}

footer .footer-news {
  display: flex;
  align-items: center;
}

footer .footer-news #form {
  border-right: 1px solid var(--subtitle-color);
  padding-right: 62px;
  padding-top: 67px;
  padding-bottom: 82px;
}

footer .footer-news #form p {
  width: 350px;
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: 0.5px;
}

footer .footer-news #form p span {
  color: var(--color-logo);
}

footer .footer-news #input {
  display: flex;
  margin-top: 25px;
}

footer .footer-news #input input {
  font-size: 2rem;
  padding: 20px;
  border: none;
  outline: none;
  background-color: var(--color-input);
  color: var(--subtitle-color);
}

footer .footer-news #input button {
  border: none;
  font-weight: 700;
  font-size: 2rem;
  padding: 20px;
  transition: 0.3s;
}

footer .footer-news #input button:hover {
  cursor: pointer;
  background-color: var(--color-logo);
}

footer .footer-news #links {
  display: flex;
  gap: 128px;
  padding-left: 122px;
}

footer .footer-news #links ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer .footer-news #links ul li {
  font-weight: 700;
  font-size: 2rem;
  line-height: 24px;
}

footer .footer-news #links ul li a {
  font-weight: 400;
  color: var(--subtitle-color);
}

footer .social-links {
  display: flex;
  justify-content: space-between;
  padding-block: 60px;
}

footer .social-links a {
  font-weight: 400;
  font-size: 20px;
  color: var(--subtitle-color);
}

footer .social-links ul {
  display: flex;
  gap: 5rem;
}
